* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
.menu-bar
{
    background: #92B4D8;
    height: 100px;
    display:flex;     
}
.menu-bar ul
{   
    
    color:#92B4D8;
    display: inline-flex;
    list-style: none;
}

.menu-bar>ul>li
{
   display: flex;
   align-items:center;
   justify-content:center;
   text-align:center;
    width: 100%;
    margin: 15px;
    padding: 15px;
}

.menu-bar img{
height:90%;
}
.menu-bar ul li a
{
    text-decoration:color(srgb 255, 122, 0);
}
.menu-bar ul li:hover
{
    background: #BF4613;  
    border-radius: 9px;
}
.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    background: color:rgb(50, 42, 52);
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted ;
    background: transparent; 
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:rgb(50, 42, 52)
}
.fa-angle-right
{
    float:left;
}

